html,
body {
    margin: 0;
    height: 100%;
}

.timer-container {
    margin-top: 50px;
}

.timer-container h1 {
    margin-bottom: 30px;
}

.start-btn {
    margin-top: 30px;
}

.timer-modal {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1;
    position: relative;
}

.timer-modal .closing {
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 1em;
    color: #808080;
}

.remaining-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

#remaining-time {
   display:table-cell;
   vertical-align:middle;
   font-size: 200px;
}

@media(max-width:767px) {
    #remaining-time {
        font-size: 80px;
    }
}

@media(min-width:1200px) {
    #remaining-time {
        font-size: 300px;
    }
}
